@model ALM.Empresa.Entidades.ECliente
<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.RFC, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(m => m.RFC, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtRFC" })
                @Html.ValidationMessageFor(model => model.RFC, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.RazonSocial, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtRazonSocial" })
                @Html.ValidationMessageFor(model => model.RazonSocial, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.NombreComercial, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(m => m.NombreComercial, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtNombreComercial" })
                @Html.ValidationMessageFor(model => model.NombreComercial, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Contacto_Nombre, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(m => m.Contacto_Nombre, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtContacto_Nombre" })
                @Html.ValidationMessageFor(model => model.Contacto_Nombre, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Contacto_Email, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(m => m.Contacto_Email, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtContacto_Email" })
                @Html.ValidationMessageFor(model => model.Contacto_Email, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Contacto_Telefono, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(m => m.Contacto_Telefono, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtContacto_Telefono" })
                @Html.ValidationMessageFor(model => model.Contacto_Telefono, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Direccion, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.Direccion, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia textArea", id = "txtDireccion", rows = "3" })
                @Html.ValidationMessageFor(model => model.Direccion, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Comentarios, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.Comentarios, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia textArea", id = "txtComentarios", rows = "3" })
                @Html.ValidationMessageFor(model => model.Comentarios, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Activo, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.CheckBoxFor(m => m.Activo, new { @class = "", id = "chkActivo", })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div style="clear:both; text-align:right; width:98%">
            <hr />
            <button type="button" value="Guardar" id="btnGuardar" name="Guardar" class="btnGuardar pull-right">
                <img src="@Url.Content("~/Imagenes/Guardar.png")" class="imagBotones" /> Guardar
            </button>
            <button type="button" value="Cancelar" id="btnCancelar" name="Cancelar" class="btnCancelar pull-right">
                <img src="@Url.Content("~/Imagenes/Cancelar.png")" class="imagBotones" /> Cancelar
            </button>
        </div>
    </div>
</div>

<style>
    /* CSS REQUIRED */
    .state-icon {
        left: -5px;
    }

    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    /* DEMO ONLY - REMOVES UNWANTED MARGIN */
    .well .list-group {
        margin-bottom: 0px;
    }
</style>

