@model ALM.Empresa.Entidades.EPreDispersionMaestro
<h5>Editar Pre-Dispersión.</h5>
<br />

<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top:5px">
                @Html.LabelFor(m => m.IdOficio, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-top:5px">
                <select id="cmbOficinaAnexo" class="form-control tamLetra bookTipografia">
                    <option value="">SELECCIONE...</option>
                </select>
            </div>
            @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top:5px">
                @Html.LabelFor(m => m.IdEstatusCarga, new { @class = "control-label tamLetra regularTipografia" })
            </div>*@
            @*<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-top:5px">
                <select id="cmbEstatusCarga" class="form-control tamLetra bookTipografia">
                    <option value="">SELECCIONE...</option>
                </select>
            </div>*@
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.Comentarios, new { @class = "control-label tamLetra regularTipografia" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.Comentarios, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia textArea", id = "txtComentarios", rows = "5" })
                @Html.ValidationMessageFor(model => model.Comentarios, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.LabelFor(m => m.NombreArchivo, new { @class = "control-label tamLetra regularTipografia", id = "lblNombreArchivo" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBoxFor(model => model.NombreArchivo, new { @type = "file", @class = "input-file form-control inputColumn inputpe tamLetra bookTipografia", placeholder = "Archivo CSV", style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.NombreArchivo, null, new { @class = "text-danger tamLetra bookTipografia" })
            </div>
        </div>
    </div>
    <div style="clear:both; text-align:right; width:100%">
        <hr />
        <button type="button" value="Guardar" id="btnGuardar" name="Guardar" class="btnGuardar pull-right">
            <img src="@Url.Content("~/Imagenes/Guardar.png")" class="imagBotones" /> Guardar
        </button>
        <button type="button" value="Cancelar" id="btnCancelar" name="Cancelar" class="btnCancelar pull-right">
            <img src="@Url.Content("~/Imagenes/Cancelar.png")" class="imagBotones" /> Cancelar
        </button>
    </div>
</div>

